body {
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 70px;
  margin-bottom: 40px;
}

.App h2, .App h3, .App h4 {
  font-weight: 300;
}

.App h5 {
  margin-top: 3rem;
}
.App h2 + h5 {
  margin-top: 1rem;
}

.App h5 .text-info,
.App h5 .text-danger {
  font-size: 0.8em;
}

.component-page h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.component-page h2 + .prop-info h5 {
  margin-top: 0;
}

.component-page h1 a {
  font-weight: normal;
  font-size: 0.4em;
}

.prop-info .meta {
  padding-left: 1em;
  border-left: 5px solid #E4F9FC;
}

.prop-info .meta ol {
  padding-left: 1em;
}

.prop-info .meta li + li {
  margin-top: 1em;
}

.showcase {
  border: 1px solid #DFDFDF;
  padding: 1em;
  margin-top: 1rem;
}

.showcase h5 {
  margin-top: 0;
}

.showcase .display {
  padding: 1em;
  background-color: #E9ECEF;
}

.showcase .message-log h6,
.showcase .source h6 {
  margin-top: 1rem;
}

.showcase .source h6 .btn-link {
  padding: 0;
}

.demo button[type=submit] {
  margin-top: 10px;
  margin-right: 5px;
}

.demo button[type=submit].btn-primary {
  margin-top: 0;
}

.demo .input-container input + span {
  margin-left: 1em;
}

.demo .form-group:last-of-type {
  margin-bottom: 0;
}
